*{
    font-family: Roboto;
    font-weight: 400;
}

.main-cta {
    background: #f5faff;

    img {
        width: 10rem;
        height: 3rem;

    }

}

button {
    background: #AB000A;
    color: #f5faff;
    font-weight: 700;
    border: none;
}

.cta-first {
    padding: 2rem 3rem 2rem 3rem;
    font-size: 3rem;
    border-radius: 5rem;
}
