* {
  font-family: Roboto;
  font-weight: 400;
}

body {
  background-color: #f5faff;
}

.bloc-1 {
    position: relative;
}

.button-logo {
    margin-bottom: 2rem;
}

.header,
.bloc-2,
.bloc-4 {
  background: rgb(23, 28, 47);
  background: linear-gradient(237deg, rgba(23, 28, 47, 1) 0%, rgba(60, 72, 102, 1) 85%);
}

.main-cta {
  h3 {
    font-size: 2rem;
    max-width: 50rem;
  }

  img {
    width: 10rem;
    height: 3rem;
  }
}

.picture-first {
    position: absolute;
    z-index: 99;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);


}

.bloc-2 {
  color: #f5faff;
  padding: 3rem 5rem 5rem 5rem;

  h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 3rem;
  }

  img {
    height: 3rem;
  }

  .card {
    max-width: 25rem;

    h4 {
      font-family: Arvo;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.5rem;
      margin: 0;
    }

    p {
      margin: 0;
      margin-top: 0.5rem;
    }
  }
}

.bloc-3 {
  img {
    height: 50rem;
    padding: 5rem 0 5rem 0;
  }
}

.bloc-4 {
  padding: 5rem;
  h2 {
    font-family: Arvo;
    font-weight: bold;
    text-transform: uppercase;
    color: #f5faff;
    font-size: 2.5rem;
  }
}




@media screen and (max-width: 1360px) {
    .header {
        height: 60vh;
        text-align: center;

    }
    .picture-first {
        position: inherit;
        display: flex;
        justify-content: center;

        img{
            padding-left: 184px
        }

    }


    .main-cta {
        margin: -30vh auto 0;
    }

}

/* @media screen and (max-width: 1360px) {

} */
  
  