* {
  font-family: Roboto;
  font-weight: 400;
}

body {
  background-color: #f5faff;
}

.header,.bloc-2,.bloc-4 {
    background: rgb(23, 28, 47);
    background: linear-gradient(237deg, rgba(23, 28, 47, 1) 0%, rgba(60, 72, 102, 1) 85%);
}

.main-cta {
  h3 {
    font-size: 2rem;
    max-width: 45rem;
  }

  img {
    width: 10rem;
    height: 3rem;
  }
}

button {
  background: #ab000a;
  color: #f5faff;
  font-weight: 700;
  border: none;
}

.cta-first {
  padding: 2rem 3rem 2rem 3rem;
  font-size: 3rem;
  border-radius: 5rem;
}


.bloc-3 {
    img {
        height: 50rem;
    }
}
