.header {
    color: $white;
    padding: 5rem 5rem 3rem 5rem;
  
  
    p,
    h1 {
      font-family: Arvo;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0;
    }
  
    p {
      font-size: 1.5rem;
    }
  
    h1 {
      font-size: 6rem;
    }
  
    h2 {
      font-family: Roboto;
      font-weight: 400;
      font-size: 4rem;
      margin-top: 3rem ;
    }
  }
  