@font-face {
    font-family: Arvo;
    src: url('/dist/style/webfonts/Arvo-Regular.woff');
    src: url('/dist/style/webfonts/Arvo-Regular.woff2');
    font-weight: normal;
}
@font-face {
    font-family: Arvo;
    src: url('/dist/style/webfonts/Arvo-Bold.woff');
    src: url('/dist/style/webfonts/Arvo-Bold.woff2');
    font-weight: bold;
}